.courses {
  .course {
    &.summary {
      .title {
        h4 {
          text-transform: uppercase;
          font-family: $font-sans;
          margin-bottom: 0;
          color: $light-gray;
        }
      }
      .subtitle {
        margin-bottom: $grid-gutter-width/2;
        color: $light-gray;
      }
      .links {
        .btn {
          font-size: 1rem;
        }
      }
      .content {
        min-height: 481px;
        background: white;
        border: 1px solid $border-gray;
        margin-bottom: 15px;
        .fields {
          padding: $grid-gutter-width;
        }
      }
    }
  }
  .image {
    img {
      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
    }
  }
}
.course-detailsinfo{
  .student {
    .name{
      height: 40px;
    }
  }
}