.message{
  .created{
    color: $text-gray;
    font-style: italic;
    font-size: 1.2rem;
  }
}
.modal-header{
  text-align: left;
}
.selectize-control.contacts .selectize-dropdown .caption {
  font-size: 12px;
  display: block;
  opacity: 0.5;
}
.selectize-control.contacts .selectize-dropdown .name{
  font-family: inherit;
  font-size: 13px;
  -webkit-font-smoothing: inherit;
  line-height: 18px;
  color: #303030;
}