.partners{
  .partner{
    &.summary{
      .title {
        h4 {
          text-transform: uppercase;
          font-family: $font-sans;
          margin-bottom: 0;
          color: $light-gray;
        }
      }
      .subtitle{
        margin-bottom: $grid-gutter-width/2;
        color: $light-gray;
        text-transform: none;
        font-size: 1.4rem;
      }
      .body{
        font-size: 1.3rem;
        color: $light-gray;
        margin-bottom: $grid-gutter-width/2;
      }
      .location,
      .origin,
      .sector,
      .website{
        font-size: 1.3rem;
        color: $light-gray ;
      }
      .content {
        min-height: 550px;
        background: white;
        border: 1px solid $border-gray;
        margin-bottom: 15px;
        .fields {
          padding: $grid-gutter-width;
        }
      }
    }
  }
  .image {
    img {
      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
    }
  }
}