.teams {
  .team {
    hr{
      margin: 5px 0;
    }
    .badges{
      min-height: 75px;
    }
    .badgein{
      margin: 10px 0;
    }
    &.summary {
      .title {
        h4 {
          text-transform: uppercase;
          font-family: $font-sans;
          margin-bottom: 0;
          color: $light-gray;
        }
      }
      .subtitle {
        margin-bottom: $grid-gutter-width/2;
        color: $light-gray;
      }
      .links {
        .btn {
          font-size: 1rem;
        }
      }
      .content {
        padding: 0;
        min-height: 391px;
        background: white;
        border: 1px solid $border-gray;
        margin-bottom: 15px;
        margin-top:0;
        .fields {
          .professor{
            font-style: italic;
            font-size: 1.2rem;
            color: $blue;
            margin: 10px 0;
          }
          .challenge{
            font-size: 1.6rem;
            margin-top: $grid-gutter-width/2;
            min-height: 66px;
          }
        }
      }
    }
  }
  .image {
    img {
      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
    }
  }
}