.btn{
  text-transform: uppercase;
  background: $light-green;
  border-color: $light-green;
  color: white;
  font-family: $font-exo2;
  font-weight: 700;
  margin: 10px 10px 10px 0;
  &:hover{
    color: $light-green;
    background: #ffffff;
    border-color: $light-green;
  }
  &.facebook,
  &.linkedin,
  &.twitter,
  &.google{
    background: #3b5999;
    border: none;
    &:hover{
      color: white;
      background: lighten(#3b5999,10);
    }
    i{
      font-size: 22px;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
  &.linkedin{
    background: #2190ce;
    &:hover{
      background: lighten(#2190ce,10);
    }
  }
  &.twitter{
    background: #5ea9dd;
    &:hover{
      background: lighten(#5ea9dd,10);
    }
  }
  &.google{
    background: #e12f31;
    &:hover{
      background: lighten(#e12f31,10);
    }
  }
}
.btn-purple{
  background: $light-purple;
  border-color: $light-purple;
  &:hover{
    color: $light-purple;
    border-color: $light-purple;
  }
}
.btn-blue{
  background: $blue-line;
  border-color: $blue-line;
  &:hover{
    color: $blue-line;
    border-color: $blue-line;
  }
}
