.btn {
  text-transform: uppercase;
  background: $green;
  border-color: $green;
  color: white;
  font-family: $font-exo2;
  font-weight: 700;
  margin: 10px 10px 10px 0;
  i {
    font-size: 1.6rem;
    vertical-align: middle;
    margin-right: 5px;
  }
  &:hover {
    color: $green;
    background: #ffffff;
    border-color: $green;
  }
  &.facebook,
  &.linkedin,
  &.twitter,
  &.google {
    background: #3b5999;
    border: none;
    &:hover {
      color: white;
      background: lighten(#3b5999, 10);
    }
  }
  &.linkedin {
    background: #2190ce;
    &:hover {
      background: lighten(#2190ce, 10);
    }
  }
  &.twitter {
    background: #5ea9dd;
    &:hover {
      background: lighten(#5ea9dd, 10);
    }
  }
  &.google {
    background: #e12f31;
    &:hover {
      background: lighten(#e12f31, 10);
    }
  }
}

.btn-purple {
  background: $purple;
  border-color: $purple;
  &:hover {
    color: $purple;
    border-color: $purple;
  }
}

.btn-blue {
  background: $blue-line;
  border-color: $blue-line;
  &:hover {
    color: $blue-line;
    border-color: $blue-line;
  }
}

.btn-darkblue {
  background: $blue;
  border-color: $blue;
  &:hover {
    color: $blue;
    border-color: $blue;
  }
}
.btn-white {
  background: white;
  border-color: white;
  color: $text-gray;
  &:hover {
    background: $text-gray;
    color: white;
    border-color: white;
  }
}
