//Main interacpedia colors.
$blue: #293896;
$green: #8dc63f;
$purple: #ec008c;

$light-blue: #edfaff;
$link-color: #2db4b7;
$light-gray: #535353;
$text-gray: #b5b5b5;
$dark-grey: #393c44;
$blue-line: #16ecfe;
$blue-forms: #19c8d8;
$blue-messages: #21a3af;
$border-gray: #cdcdcd;
$title-gray: #333333;
$title-gray2: #666666;
$background-gray: #efefef;
$dark-blue: #323095;