.select-category {
  .panel-body{
    text-align: center;
  }
  li {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    cursor: pointer;
    padding: 10px;
    color: $light-gray;
    font-family: $font-exo2;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    display: inline-block;
    list-style: none;

    &.active {
      opacity: 1;
    }
    &.inactive {
      opacity: 0.4;
    }
    &.transition {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
}
.help{
  font-size: 13px;
  color: $light-gray;
}
.bootstrap-maxlength{
  color: #ffffff !important;
  font-size: 14px !important;
  top: auto !important;
  bottom: 10px !important;
  left: auto !important;
  right: 10px !important;
}
.dz-success-mark,
.dz-error-mark{
  display: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background: #8bf7fb;
    font-family: $font-sans;
    margin-right: 10px;
    font-weight: 600;
    padding: 10px 20px 10px 11px;
    font-size: 16px;
    border: none;
    margin-top: 5px;
    height: 42px;
    &.select2-search {
      background: #ddd;
      border-radius: 4px;
      font-size: 12px;
    }
    .space{
      width: 9.1px;
      height: 14px;
      display: inline-block;
    }
  }