.select-category {
  .panel-body{
    text-align: center;
  }
  li {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    cursor: pointer;
    padding: 10px;
    color: $light-gray;
    font-family: $font-exo2;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    display: inline-block;
    list-style: none;

    &.active {
      opacity: 1;
    }
    &.inactive {
      opacity: 0.4;
    }
    &.transition {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
}

.help{
  font-size: 13px;
}
.bootstrap-maxlength{
  color: #ffffff !important;
  font-size: 14px !important;
  top: auto !important;
  bottom: 10px !important;
  left: auto !important;
  right: 10px !important;

}