#header {
  padding: 10px 0;
  margin: 10px;
  .usermenu{
    li, li.active {
      a {
        color: $light-gray;
        font-family: $font-exo2;
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
        background: none;
      }
    }
  }
}

#navigation {
  border-bottom: 1px solid $blue-line;
  border-top: 1px solid $blue-line;
  li, li.active {
    a {
      color: $dark-grey;
      font-family: $font-exo2;
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
      background: none;
    }
  }
}