#section-banner {
  .banner-main,
  .banner-main-video{
    height: 220px;
    color: #ffffff;
    background: url("../../images/backgrounds/banner-main.jpg") no-repeat center center;
    padding: 20px 20px;
    @media (max-width: $screen-xs-max) {
      padding: 10px 10px;
      height: 330px;
    }
    h1 {
      text-transform: none;
      font-family: $font-exo2;
      line-height: 40px;
      font-weight: 400;
      font-size: 65px;
      color: #ffffff;
      @media (max-width: $screen-xs-max) {
        font-size: 40px;
      }
    }
    .btn-purple,
    .btn-green,
    .btn-blue {
      padding: 20px 10px;
      margin: 10px;
      @media (max-width: $screen-xs-max) {
        padding: 14px 5px;
        margin: 5px;
      }
    }
  }
  .banner-main-video{
    height: 587px;
    padding: 20px 20px;
    @media (max-width: $screen-xs-max) {
      height: 300px;
    }
  }
  .banner-about {
    height: 597px;
    color: #ffffff;
    background: url("../../images/backgrounds/banner-about.jpg") no-repeat center center;
    .logo{
      margin-top: $grid-gutter-width;
      @media (max-width: $screen-xs-max) {
        margin: 0;
      }
    }
    h1 {
      font-family: $font-exo2;
      text-transform: none;
      font-size: 2.5rem;
      line-height: 4rem;
      @media (max-width: $screen-xs-max) {
        line-height: 2.5rem;
      }

      margin-top: 0;
      padding: 0 $grid-gutter-width/2;
      color: white;
      @media (max-width: $screen-xs-max) {
        font-size: 2rem;
      }
      .empresas,
      .universidades,
      .estudiantes,
      .gobierno,
      .sociedad{
        display: inline-block;
        height: 110px;
        width: 110px;
        @media (max-width: $screen-xs-max) {
          height: 90px;
          width: 90px;

        }
        vertical-align: middle;
        background: url("../../images/icons/about-us/empresas.png") no-repeat center center;
        font-size: 0px;
        color: transparent;
      }
      .universidades{
        background: url("../../images/icons/about-us/universidades.png") no-repeat center center;
      }
      .estudiantes{
        background: url("../../images/icons/about-us/estudiantes.png") no-repeat center center;
      }
      .gobierno{
        background: url("../../images/icons/about-us/gobierno.png") no-repeat center center;
      }
      .sociedad{
        background: url("../../images/icons/about-us/sociedad.png") no-repeat center center;
      }
    }
  }
  #carousel-howitworks{
    .carousel-control {
      .glyphicon-chevron-left{
        left: 30%;
        font-size: 5rem;
        @media (max-width: $screen-xs-max) {
          top: 38%;
          left: 0;
        }
      }
      .glyphicon-chevron-right{
        right: 30%;
        font-size: 5rem;
        @media (max-width: $screen-xs-max) {
          top: 38%;
          right: 0;
        }
      }
    }

    .carousel-indicators {
      top: 0;
      margin-top: -15px;
      li{
        border: 1px solid $purple;
        &.active{
          background-color: $purple;
        }
      }
    }
    .carousel-inner{
      margin-top: $grid-gutter-width;
    }
    .carousel-control.left,
    .carousel-control.right{
      background: none;
      color: $purple;
    }
    .carousel-caption{
      color: $dark-grey;
      font-family: $font-exo2;
      text-shadow: none;
    }
  }

}