#section-banner {
  .banner-main {
    height: 587px;
    color: #ffffff;
    background: url("../../images/backgrounds/banner-main.jpg") no-repeat center center;
    padding: 200px 20px;
    @media (max-width: $screen-xs-max) {
      padding: 80px 20px;
    }
    h1 {
      font-family: $font-exo2;
      line-height: 40px;
      font-weight: 400;
      font-size: 65px;
      color: #ffffff;
      @media (max-width: $screen-xs-max) {
        font-size: 40px;
      }
      text-transform: uppercase;
      small {
        text-transform: none;
        font-size: 18px;
        color: #ffffff;
        font-family: $font-source;
        @media (max-width: $screen-xs-max) {
          font-size: 15px;
        }
      }
    }
    .btn-purple,
    .btn-green,
    .btn-blue {
      padding: 20px 10px;
      margin: 10px;
    }
  }
}