#section-profile{
  background: #000000;
  color: white;
  .profile{
    padding: $grid-gutter-width;
    color: $text-gray;
    font-family: $font-sans;
    .name{
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 5px;
      color: white;
    }
    .location{

      font-size: 1.5rem;
      line-height: 3rem;
    }
    .social{
      text-transform: uppercase;
    }
  }
}
.user-profile{
  padding-top: $grid-gutter-width;
  .field-avatar{
    .zone{
      min-height: 200px;
      border: 1px solid $border-gray;
      .choose {
        color: $blue-messages;
        font-weight: 600;
        font-size: 2rem;
      }
      .help {
        max-width: 200px;
        margin: 0 auto;
        color: $dark-grey;
        font-size: 1.2rem;
      }

    }
  }
  .subtitle{
    font-family: $font-exo2;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: $grid-gutter-width/2 0;
    img{
      vertical-align: text-bottom;
    }
  }
  .area{
    background: white;
    border: 1px solid $border-gray;
    padding: $grid-gutter-width;
    .subtitle{
      font-family: $font-sans;
      text-transform: none;
      font-weight: 300;
    }
    .data{
      font-size: 2rem;
      margin-bottom: 10px;
    }
    .gray_zone{
      background: $background-gray;
      padding: $grid-gutter-width;
      font-size: 1.5rem;
      .title1{
        font-size: 1.8rem;
      }
      .title2{
        font-size: 1.6rem;
        font-weight: 600;
      }
    }
    .tags{
      padding-left: 0;
      .label-tag{
        display: inline-block;
        font-family: $font-sans;
        padding: $grid-gutter-width/2;
        border-radius: 5px;
        font-weight: 300;
        font-size: 1.7rem;
        background-color: $blue-tags;
        color: $text-color;
        margin-right: $grid-gutter-width/2;
        margin-bottom: $grid-gutter-width/2;
        &.small{
          padding: $grid-gutter-width/3;
          font-size: 1.2rem;
        }
      }
    }
  }
}
.user_edit{
  .header {
    margin-top: $grid-gutter-width;
    padding: $grid-gutter-width;
    background: $purple;
    color: white;
    text-align: center;
    .title {
      color: white;
      font-family: $font-exo2;
      font-weight: 600;
      font-size: 4rem;
    }
    small {
      font-size: 3rem;
      font-family: $font-sans;
    }
  }

}